@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    color: black;
}

.upgradeFields {
    border: 1px solid black;
}

.flyingNumber {
    color: black;
    text-shadow: 2px 2px white;
}

#leftNav {
    color: white;
}

@keyframes animationFrames {
    0% {
        opacity: 0.8;
    }
    100% {
        top: 5%;
        opacity: 0;
    }
}

.lootScreen {
    background-color: whitesmoke;
}

.page {
    background-color: whitesmoke;
}

.tooltip {
    background-color: whitesmoke;
}

#bottomBar {
    background-color: rgba(140, 140, 140, 1);
    color: white;
}
header{
    background-color: rgba(160, 160, 160, 1);
    color: white;
}
