@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.upgradeFields{
    border: 1px solid black;
}
.flyingNumber{
    color:black;
    text-shadow: 2px 2px white;
}
#dayMusic{
    color:white;
}
#leftNav{
    color:white;
}

@keyframes animationFrames
{
    0% {top:50%; opacity:1;}  /* start 20 pixels down  and vissable */
    100% {top:5%; opacity:0; } /* move up to 217 pixels while fading out */
}
#upgradeHeader{
    background-color: rgba(227,226,226,1);;
    color:white;
}
