@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.upgradeFields{
    border: 1px solid black;
}
.flyingNumber{
    color:black;
    text-shadow: 2px 2px white;
}
#leftNav{
    color:white;
}
@keyframes animationFrames
{
    0% {opacity:0.8;}  /* start 20 pixels down  and vissable */
    100% {top:5%; opacity:0; } /* move up to 217 pixels while fading out */
}
.lootScreen{
    background-color: whitesmoke;
}
.page{
    background-color: whitesmoke;
}
#itemShowCase{
    background-color: whitesmoke;
}
#xoverclockInfo{
    background-color: whitesmoke;
}
.menuToggler{
    background-color: rgba(140, 140, 140, 1);
}
