@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#clickCenter {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-75%, -50%);
}

.affordable {
    opacity: 1.0;
}

#topbar{
    font-weight: bolder;
    width: 100%;
    height:20%;
}

.notAffordable {
    opacity: 0.5;
}

#upgradeField {
    height: 100%;
    width: 11.5%;
    float: left;
    cursor: pointer;
}

.upgradeImages {
    width: 70%;
    height: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#volume {
    cursor: pointer;
}

header {
    height: 20%;
    background-color: rgba(227, 226, 226, 1);
}

#logo {
    margin-left: 3%;
    margin-top: 0.4%;
    margin-bottom: 0.1%;
    width: 8%;
    height: 8%;
}

nav {
    padding: 1%;
    margin-left:5%;
    color: white;
}

#clickPicture {
    transition: transform 0.1s;
    width: 140%;
    height: 140%;
    cursor: pointer;
    margin-bottom: 5%;
}

#clickPicture:hover {
    transform: scale(1.1);
}

#clickPicture:active {
    transform: scale(1.0);
}

#dayNight {
    cursor: pointer;
    float: left;
}

#volume {
    color: white;
}

#dayMusic {
    float: right;
    margin-right: 2%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}

.flyingNumber {
    font-weight: bolder;
    font-size: 150%;
    opacity: 0;
    animation: animationFrames ease-in 2s;
    animation-iteration-count: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#audioplayer {
    display: none;
}

.upgradePrice {
    display: none;
}

.upgradeMechanic {
    display: none;
}

#statsShow {
    cursor: pointer;
}

.invisible {
    display: none;
}

.stat {
    opacity: 1;
    display: block;
}

#statisticsList {
    margin-left: 2%;
    margin-top: 25%;
    list-style-type: none;
}

#bottomBar {
    height: 15%;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

#pagesList {
    margin-top: 0.5%;
}

.shopHeaders {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1%;
}

.shop {
    width: 96%;
    height: 80%;
    border: 1px solid black;
    margin-left: 1.7%;
    margin-top: 25%;
    overflow: auto;
}

.shopContent {
    overflow: auto;
}

.shopItem {
    border-bottom: 1px solid black;
    margin-right: 0.5%;
    cursor: pointer;
    width: 100%;
}

#coinHealth {
    text-align: center;
}

.drop {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.page {
    opacity: 0.9;
    top: 10%;
    left: 10%;
    position: absolute;
    height: 70%;
    width: 80%;
    border: 2px solid black;
}

.pageHeader {
    text-align: center;
    left: 35%;
    top: 5%;
    position: absolute;
}

#settingsList {
    margin-left: 2%;
    margin-top: 20%;
    list-style-type: none;
}

.setting {
    cursor: pointer;
}

.toolTipHeader {
    top: 1%;
    left: 40%;
    position: absolute;
}

#slideAnnounce {
    animation: slideAnnounceEvent ease-in 10s;
    animation-iteration-count: 1;
}

@keyframes slideAnnounceEvent {
    0% {
        left: 5%;
    }
    100% {
        left: 95%;
        opacity: 0;
    }
}
#helpTable{
    border:none;
    top:20%;
    left:25%;
    position: absolute;
}
#showPic{
    width: 20%;
    height: 20%;
}
.setting{
    display: block;
}
#mobileMessage{
    width:80%;
    height: 20%;
    top:45%;
    left:10%;
    position: absolute;
    background-color: red;
    color:white;
    font-size: 200%;
}
#mobilMessageText{
    top:20%;
    left:5%;
    position: absolute;
}
#mobileSwitch{
    top:70%;
    left:50%;
    position: absolute;
    width: 20%;
    height: 20%;
    font-weight: bolder;
}
.Show img{
    width: 20%;
    height: 20%;
}
.Show li{
    margin-right: 1%;
    margin-bottom: 5%;
}
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 100%;
    height: 30px;
    background-color: green;
}

#buyModes{
    position: absolute;
    top:3%;
    left:2%;
    list-style-type:none;
}
.buyMode{
    font-weight: bold;
}

.bought{

}
.videocard{

}
div,
img,
footer,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#amountShopModes {
    position: absolute;
    top: 6.5%;
    left: 2%;
    list-style-type: none;
    cursor: pointer;
}
