@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background-color: #263947;
    color: #C6CCC2;
}
#topbar {
    background-color: #68868E;
}

.upgradeFields {
    border: 1px solid #C6CCC2;
}

#leftNav {
    color: #C6CCC2;
}

.flyingNumber {
    color: #C6CCC2;
    text-shadow: 2px 2px black;
}

#bottomBar {
    background-color: #68868E;
    color: #e5e8e3;
}

.lootScreen {
    background-color: #68868E;
}

.page {
    background-color: #68868E;
    color: #e5e8e3;
}

#itemShowCase{
    background-color: #68868E;
}
#xoverclockInfo{
    background-color: #68868E;
}
.menuToggler{
    background-color: #41575d;
}
#inventoryButton{
    border: 1px solid #e5e8e3;
    color:#e5e8e3;
}
#inventoryButton:hover{
    background-color:#e5e8e3;
    color:#68868E;
}
